In [40]:
# 导入库
import numpy as np
import pandas as pd

In [41]:
# 读取yield_duration_data.xlsx文件
df = pd.read_excel('./Data/yield_duration_data.xlsx')
# 展示前5行数据
df.head()

,Date,United States Mid Yield,United States Modified Duration,United Kingdom Mid Yield,United Kingdom Modified Duration,Germany Mid Yield,Germany Modified Duration,Japan Mid Yield,Japan Modified Duration,Italy Mid Yield,...,Canada Mid Yield,Canada Modified Duration,China Mid Yield,China Modified Duration,Korea Mid Yield,Korea Modified Duration,New Zealand Mid Yield,New Zealand Modified Duration,Singapore Mid Yield,Singapore Modified Duration
0,2011-12-01,2.088,8.968272,2.262,8.215139,2.174,9.019781,1.060,8.849986,6.632,...,2.133,8.21595,3.513,7.970194,3.798,7.664476,4.065,7.340172,1.678,8.558438
1,2011-12-02,2.034,8.965182,2.288,8.204085,2.131,9.022927,1.065,9.037485,6.661,...,2.112,8.215273,3.473,7.966897,3.787,7.657564,4.068,7.337126,1.708,8.547741
2,2011-12-05,2.044,8.961475,2.345,8.194778,2.200,9.010950,1.047,9.052620,5.940,...,2.085,8.215301,3.441,7.967975,3.781,7.655596,4.059,7.335556,1.710,8.544817
3,2011-12-06,2.090,8.954462,2.247,8.203280,2.184,9.010431,1.040,9.057935,5.844,...,2.126,8.208504,3.462,7.96281,3.783,7.652557,4.033,7.335949,1.705,8.54256
4,2011-12-07,2.030,8.957351,2.232,8.202217,2.100,9.013685,1.040,9.057935,5.977,...,2.054,8.2075,3.463,7.960032,3.790,7.649014,4.009,7.336007,1.735,8.537172

In [42]:
# 新建两个DataFrame,分别储存不同国家的Yield和Duration数据
df_yield = pd.DataFrame()
df_duration = pd.DataFrame()

# 新建一个集合,储存不同国家的名称
country_set = {"United States", "Canada", "United Kingdom", "Australia", "China",
               "Denmark", "Finland", "France", "Germany", "Japan", "Italy", "Netherlands",
               "Norway", "Portugal", "Singapore", "Korea", "Spain", "Sweden",
               "Switzerland", "New Zealand"}

# 从df中提取不同国家的Yield和Duration数据
for country in country_set:
    # 新建对应的变量的列名
    yield_column = f"{country} Mid Yield"
    duration_column = f"{country} Modified Duration"

    # 提取对应国家的Yield和Duration数据
    df_yield[country] = df[yield_column]
    df_duration[country] = df[duration_column]

# 复制‘Date’列到新的 DataFrame
df_yield['Date'] = df['Date']
df_duration['Date'] = df['Date']

# 将‘Date’列设置为索引
df_yield.set_index('Date', inplace=True)
df_duration.set_index('Date', inplace=True)

# 展示df_yield和df_duration的前5行数据
df_yield.head(), df_duration.head()

(            New Zealand  United Kingdom  Finland  Norway  United States  \
 Date
 2011-12-01        4.065           2.262    2.686   2.450          2.088
 2011-12-02        4.068           2.288    2.648   2.421          2.034
 2011-12-05        4.059           2.345    2.710   2.442          2.044
 2011-12-06        4.033           2.247    2.698   2.467          2.090
 2011-12-07        4.009           2.232    2.635   2.431          2.030

             Sweden  Korea  Japan  Canada  Netherlands  Australia  Germany  \
 Date
 2011-12-01   1.792  3.798  1.060   2.133        2.532     4.0065    2.174
 2011-12-02   1.775  3.787  1.065   2.112        2.493     4.0008    2.131
 2011-12-05   1.796  3.781  1.047   2.085        2.577     3.9613    2.200
 2011-12-06   1.774  3.783  1.040   2.126        2.584     3.9148    2.184
 2011-12-07   1.710  3.790  1.040   2.054        2.530     3.9533    2.100

             France  China  Switzerland  Spain  Denmark  Italy  Singapore  \
 Date
 2011-12-01   3.090  3.513        0.842  5.701    1.857  6.632      1.678
 2011-12-02   3.253  3.473        0.814  5.626    1.850  6.661      1.708
 2011-12-05   3.122  3.441        0.829  5.090    2.051  5.940      1.710
 2011-12-06   3.227  3.462        0.790  5.182    2.020  5.844      1.705
 2011-12-07   3.204  3.463        0.767  5.396    2.024  5.977      1.735

             Portugal
 Date
 2011-12-01    13.392
 2011-12-02    13.374
 2011-12-05    12.853
 2011-12-06    12.690
 2011-12-07    12.421  ,
            New Zealand  United Kingdom   Finland    Norway  United States  \
 Date
 2011-12-01    7.340172        8.215139  7.777151  7.889866       8.968272
 2011-12-02    7.337126        8.204085  7.780053  7.891395       8.965182
 2011-12-05    7.335556        8.194778  7.768521  7.885699       8.961475
 2011-12-06    7.335949        8.203280  7.767486  7.879389       8.954462
 2011-12-07    7.336007        8.202217  7.768520  7.881855       8.957351

               Sweden     Korea     Japan    Canada  Netherlands  Australia  \
 Date
 2011-12-01  8.793523  7.664476  8.849986   8.21595     8.142828   7.392519
 2011-12-02  8.793583  7.657564  9.037485  8.215273     8.145726   7.390486
 2011-12-05  8.787305  7.655596  9.052620  8.215301     8.131216   7.392449
 2011-12-06  8.788293  7.652557  9.057935  8.208504     8.127477   7.395210
 2011-12-07  8.790991  7.649014  9.057935    8.2075     8.127151   7.382596

              Germany    France     China  Switzerland     Spain   Denmark  \
 Date
 2011-12-01  9.019781  8.334321  7.970194     8.536598  6.937747  8.637602
 2011-12-02  9.022927  8.308227  7.966897     8.537427  6.946482  8.636008
 2011-12-05  9.010950  8.324314  7.967975     8.532743  7.024062  8.604539
 2011-12-06  9.010431  8.306686   7.96281     8.534952  7.007724  8.606321
 2011-12-07  9.013685  8.301978  7.960032     8.529656  6.967800  8.597665

                Italy Singapore  Portugal
 Date
 2011-12-01  7.170755  8.558438  6.213954
 2011-12-02  7.163680  8.547741  6.213922
 2011-12-05  7.272452  8.544817  6.283135
 2011-12-06  7.284763   8.54256  6.303159
 2011-12-07  7.256376  8.537172  6.332905  )

In [43]:
# 检索所有的#N/A N/A, #N/A Invalid Override值, 并将其设为NaN
df_yield.replace('#N/A N/A', np.nan, inplace=True)
df_duration.replace('#N/A Invalid Override', np.nan, inplace=True)

# 检查数据中是否有缺失值
df_yield.isnull().sum(), df_duration.isnull().sum()

(New Zealand        31
 United Kingdom      0
 Finland             0
 Norway              0
 United States       0
 Sweden              0
 Korea             161
 Japan               0
 Canada             11
 Netherlands         0
 Australia           0
 Germany             0
 France              0
 China               4
 Switzerland         0
 Spain               0
 Denmark             0
 Italy               0
 Singapore          13
 Portugal            0
 dtype: int64,
 New Zealand       789
 United Kingdom      0
 Finland             0
 Norway              0
 United States       0
 Sweden              0
 Korea             166
 Japan               0
 Canada            235
 Netherlands         0
 Australia           0
 Germany             0
 France              0
 China               7
 Switzerland         0
 Spain               0
 Denmark             0
 Italy               0
 Singapore          15
 Portugal            0
 dtype: int64)

In [44]:
# 将所有的NaN值填充为上一个非NaN值
df_yield.fillna(method='ffill', inplace=True)
df_duration.fillna(method='ffill', inplace=True)

# 检查数据中是否有缺失值
df_yield.isnull().sum(), df_duration.isnull().sum()

(New Zealand       0
 United Kingdom    0
 Finland           0
 Norway            0
 United States     0
 Sweden            0
 Korea             0
 Japan             0
 Canada            0
 Netherlands       0
 Australia         0
 Germany           0
 France            0
 China             0
 Switzerland       0
 Spain             0
 Denmark           0
 Italy             0
 Singapore         0
 Portugal          0
 dtype: int64,
 New Zealand       0
 United Kingdom    0
 Finland           0
 Norway            0
 United States     0
 Sweden            0
 Korea             0
 Japan             0
 Canada            0
 Netherlands       0
 Australia         0
 Germany           0
 France            0
 China             0
 Switzerland       0
 Spain             0
 Denmark           0
 Italy             0
 Singapore         0
 Portugal          0
 dtype: int64)

In [45]:
# 展示df_yield和df_duration的曾经为NaN的值, 例如:2018年的6月11日到12月七日的Korea的yield和duration值
df_yield.loc['2018-06-11':'2018-12-07', 'Korea'], df_duration.loc['2018-06-11':'2018-12-07', 'Korea']

(Date
 2018-06-11    2.73
 2018-06-12    2.73
 2018-06-13    2.73
 2018-06-14    2.73
 2018-06-15    2.73
               ...
 2018-12-03    2.73
 2018-12-04    2.73
 2018-12-05    2.73
 2018-12-06    2.73
 2018-12-07    2.73
 Name: Korea, Length: 130, dtype: float64,
 Date
 2018-06-11    8.426692
 2018-06-12    8.426692
 2018-06-13    8.426692
 2018-06-14    8.426692
 2018-06-15    8.426692
                 ...
 2018-12-03    8.426692
 2018-12-04    8.426692
 2018-12-05    8.426692
 2018-12-06    8.426692
 2018-12-07    8.426692
 Name: Korea, Length: 130, dtype: float64)

In [46]:
# 新建一个DataFrame,储存所有国家债券的单日收益率
df_daily_return = pd.DataFrame()

# 对于每一个国家, 计算其单日收益率
for country in country_set:
    # 收益率 = -(当日yield - 前一日yield) * 当日duration + 当日yield / 365
    df_daily_return[country] = -(df_yield[country] - df_yield[country].shift(1)) * df_duration[country] + df_yield[country] / 365

# 保存df_daily_return到csv文件
df_daily_return.to_csv('./Data/daily_return.csv')

In [47]:
df_daily_return

,New Zealand,United Kingdom,Finland,Norway,United States,Sweden,Korea,Japan,Canada,Netherlands,Australia,Germany,France,China,Switzerland,Spain,Denmark,Italy,Singapore,Portugal
Date,,,,,,,,,,,,,,,,,,,,
2011-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-12-02,-0.010866,-0.207038,0.302897,0.235483,0.489692,0.154354,0.094609,-0.042270,0.178307,0.324513,0.053087,0.393824,-1.345329,0.328191,0.241278,0.536400,0.065521,-0.189497,-0.251753,0.148492
2011-12-05,0.077141,-0.460678,-0.474224,-0.158909,-0.084015,-0.179613,0.056292,0.165816,0.227525,-0.675962,0.302855,-0.615728,1.099039,0.264403,-0.125720,3.778843,-1.723893,5.259712,-0.012405,3.308727
2011-12-06,0.201784,0.810078,0.100602,-0.190226,-0.406179,0.198203,-0.004941,0.066255,-0.330724,-0.049813,0.354603,0.150150,-0.863361,-0.157734,0.335027,-0.630513,0.272330,0.715348,0.047384,1.062182
2011-12-07,0.187048,0.129148,0.496636,0.290407,0.543003,0.567308,-0.043160,0.002849,0.596567,0.445798,-0.273399,0.762903,0.199724,0.001528,0.198283,-1.476326,-0.028845,-0.948723,-0.251362,1.737582
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-26,0.479849,0.162791,0.354425,-0.286233,0.117752,0.825689,0.010047,0.076112,0.411338,0.380623,0.311384,0.387475,0.337837,0.041854,0.443648,0.324191,0.393742,0.270234,0.261898,0.296803
2023-06-27,-0.140731,-0.583317,-0.355335,-0.319601,-0.353365,0.190775,0.010047,-0.120930,-0.059363,-0.348245,0.170486,-0.391226,-0.321872,-0.048803,-0.328233,-0.330689,-0.459628,-0.240184,-0.356263,-0.320052
2023-06-28,-0.317555,0.488290,0.328230,-0.234871,0.481522,-0.020829,0.462870,-0.148749,0.822314,0.371721,0.479809,0.361824,0.312250,0.063418,0.129561,0.216203,0.249720,0.018985,-0.007595,0.192466
2023-06-29,-0.172365,-0.495617,-0.880845,-0.318596,-1.070457,-0.488908,-0.107440,-0.008310,-1.177506,-0.849309,-0.229066,-0.854507,-0.902824,0.086679,-0.547344,-0.949227,-0.825675,-0.957024,0.008241,-0.909960
2023-06-30,-0.420921,-0.051370,0.198116,-0.048997,0.018764,0.025266,-0.291362,-0.101677,0.795053,0.145971,-0.952878,0.209178,0.159841,0.162473,0.154802,0.199337,0.168696,0.220980,-0.402688,0.144295